.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: #202020;
  color: #fff;
}

.profile__header {
  margin: 70px auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__wrap {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.profile__container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
}

.profile__form {
  
}

.profile__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.profile__input {
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.profile__line {
}

.profile__error {
}

@media screen and (min-width: 768px) {
}

.profile__hide {
  display: none;
}
