.page {
  display: flex;
  flex-direction: column;
  /* min-width: 320px; */
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text__normal {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text__white {
  color: #fff;
}

.text__black {
  color: #000;
}

.text__gray {
  color: #8b8b8b;
}

.text__gray-light {
  color: #a0a0a0;
}

.text__header {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.text__subheader {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.text__description {
  font-size: 11px;
  line-height: 16px;
}

.text__link {
  font-size: 12px;
  line-height: 15px;
}

.no-display {
  display: none;
}

@media screen and (min-width: 768px) {
  .text__header {
    font-size: 22px;
    line-height: 27px;
  }

  .text__subheader {
    font-size: 20px;
    line-height: 24px;
  }

  .text__description {
    font-size: 12px;
    line-height: 18px;
  }
  
  .text__link {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .text__description {
    font-size: 14px;
    line-height: 20px;
  }

  /* .text__link {
    font-size: 13px;
    line-height: 16px;
  } */
}