.search-form {
  margin: 80px auto 60px;
  padding: 0;
}

.search-form__form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.search-form__input {
}
