.header {
  width: 100%;
  min-height: 74px;
}
.header_color_landing {
  background-color: #073042;
}

.header_color_movies {
  background-color: #202020;
}

.header__container {
  display: flex;
  justify-content:space-between;
  align-content:center;
  align-items: center;
  margin: 0;
  padding: 16px 14px;
}

.header__logo {
  background: url("../../images/header__logo.svg") center no-repeat;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
}

.header__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content:center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
  .header__container {
    padding: 16px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding: 16px 70px;
  }
}
