.header {
  width: 100%;
  min-height: 74px;
  color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.header__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
}