.register__button-container {
  margin: 180px 0 14px;
  padding: 0;
}

.register__error {
  margin: 6px 0;
  padding: 0 0 204px;
  min-height: 24px;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .register__error {
    padding: 0 0 116px;
  }
}