.register__button-container {
  margin: 180px 0 14px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .register__button-container {
    margin: 91px 0 17px;
  }
}

@media screen and (min-width: 1280px) {
  .register__button-container {
    margin: 92px 0 16px;
  }
}