.register {
  margin: 0;
  padding: 0 30px;
}

.register__button-container {
  margin: 180px 0 14px;
  padding: 0;
}

.register__error {
  margin: 6px 0;
  padding: 0 0 204px;
  min-height: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-red);
  text-align: start;
}

@media screen and (min-width: 768px) {
  .register__error {
    padding: 0 0 116px;
  }
}