.login {
  margin: 0;
  padding: 0 30px;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.login__header {
  margin: 0;
  padding: 56px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.login__welcome {
  margin: 0;
  padding: 50px 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--color-white);
}

.login__form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.login__label {
  margin: 0 0 5px;
  text-align: start;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-gray);
}

.login__input {
  margin: 0 0 24px;
  padding: 0 0 10px;
  min-height: 17px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  background: var(--color-background);
  color: var(--color-white);
  border-bottom: 1px solid var(--color-line);
}

.login__input:invalid {
  outline: 0;
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
}

.login__input:focus {
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--color-blue);
}

.login__error {
  margin: 6px 0;
  padding: 0 0 249px;
  max-width: fit-content;
  min-height: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-red);
  text-align: start;
}

/* .login__line_place_last {
  margin: 0;
} */

.login__button-container {
  min-width: 260px;
  margin: 0 0 14px;
  padding: 0;
}

.login__button {
  margin: 0;
  padding: 0;
  min-width: 260px;
  min-height: 45px;
  background: var(--color-blue);
  border: 0;
  border-radius: 3px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--color-white);
  cursor: pointer;
}

.login__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.login__button_disabled {
  background: #F8F8F8;
  color: #000;
}

.login__footer {
  margin: 0 0 30px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-gray);
}

.login__link {
  margin: 0 0 0 7px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--color-blue);
  text-decoration: none;
}

.login__link:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

@media screen and (min-width: 768px) {
  .login {
    padding: 0 186px;
    justify-content: center;
  }

  .login__header {
    margin: 0 auto;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .login__welcome {
    padding:40px 0 40px;
    text-align: start;
    min-width: 396px;
  }

  .login__button-container {
    min-width: 396px;
    margin: 0 0 16px;
  }

  .login__error {
    padding: 0 0 161px;
  }

  .login__button {
    min-width: 396px;
    font-size: 14px;
    line-height: 17px;
  }

  .login__footer {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .login__link {
    margin: 0 0 0 7px;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .login {
    padding: 0 442px;
  }

  .login__header {
    margin: 70px auto 0;
  }

  .login__error {
    padding: 0 0 161px;
  }

  .login__footer {
    margin: 0 0 70px;
  }
}
