.about-me {
  margin: 0;
  padding: 71px 14px 70px;
  text-align: start;
}

.about-me__header {
  margin: 0;
  padding: 0 0 27px 0;
  border-bottom: 1px solid var(--color-black);
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: var(--color-white);
}

.about-me__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about-me__photo {
  margin: 60px auto 36px;
  padding: 0;
  width: 100%;
  height: 110%;
  border-radius: 10px;
}

.about-me__text-block {
  margin: 4px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0 0 20px 0;
  padding: 0 1px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  letter-spacing: -0.04em;
  color: var(--color-white);
}

.about-me__frontend {
  margin: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--color-white);
}

.about-me__description {
  margin: 0 0 40px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  color: var(--color-white);
  mix-blend-mode: normal;
}

.about-me__github {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 440px) {
  .about-me__photo {
    margin: 0 auto 36px;
    padding: 0;
    width: 80%;
    height: 110%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 550px) {
  .about-me__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-start;
    gap: 49px;
  }

  .about-me__text-block {
    margin: 4px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    margin: 1px 0 0;
    padding: 90px 50px;
  }

  .about-me__header {
    padding: 0 0 22px 0;
    border-bottom: 1px solid var(--color-border-white);
    font-size: 22px;
    line-height: 27px;
  }

  .about-me__wrapper {
    margin: 63px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me__photo {
    margin: 3px 0 0;
    padding: 0;
    max-width: 255px;
  }

  .about-me__name {
    margin: 0 0 15px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__frontend {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    margin: 0 0 87px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    margin: 2px 0 0;
    padding: 110px 70px 102px;
  }

  .about-me__wrapper {
    margin: 62px 0 0;
    gap: 170px;
  }

  .about-me__photo {
    margin: 4px 0 0;
    max-width: 260px;
  }

  .about-me__name {
    font-size: 50px;
    line-height: 58px;
  }

  .about-me__frontend {
    margin: 4px 0 25px;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__description {
    margin: 0 0 99px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__wrapper {
    gap: 270px;
  }

  .about-me__photo {
    max-width: 270px;
  }
}
